@keyframes whiteFlash {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
}

/* Global styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    scrollbar-color: transparent transparent;
}

a:visited {
    all: inherit;
}

#no-click {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    z-index: 1000;
}

/* Tabs styles */
#tabs {
    display: flex;
    gap: 0.2em;
    height: 5vh;
    border-bottom: 10px solid gray;
}

#tabs .tab {
    padding: 0.5em 1em;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 14px;
    background-color: lightgray; 
}

#tabs .tab span {
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-weight: bold;
    cursor: pointer;
    padding: 0 0 0 0.5em;
    pointer-events: auto;
}

#tabs .tab.active {
    background-color: gray;
}

#tabs .tab.unopen {
    display: none;
}

/* Generic site styles */
.site {
    height: 95vh;
    background-color: gray;
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    margin: auto;
}


/* Book site styles */
#book-site {
    background-color: gray;
}

#book-site .nav-btns {
    display: flex;
    flex-direction: column;
}

#book-site .nav-btn {
    margin: 2px;
    padding: 5px 10px;
    border: 2px outset black;
    border-radius: 100px;
    align-self: flex-end;
    background-color: transparent;
}

#main-content {
    perspective: 2000px;
    position: relative;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}

.page {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;
    width: 1200px;
    height: 600px;
    margin: auto;
    border: 2px solid slategray;
    border-radius: 1em;
    backface-visibility: hidden; 
    transform-origin: top;
    transition: transform 2s ease-out;

    scrollbar-gutter: none;
    overflow-y: auto;
}

.flipped {
    transform: translate(-50%, -50%) rotateX(180deg);
    transition: transform 2s ease-in;
}

#front-cover {
    background-image: linear-gradient(to bottom right, saddlebrown, cornflowerblue);
    color: white;
    box-sizing: border-box;
    z-index: 3;
}

#front-cover h1 {
    margin: 180px auto;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 5em;
    opacity: 1;
    transition: opacity 5s linear;
}

#actual-text {
    background-image: url("../images/paper_bkgd.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
 
#actual-text p {
    width: 60%;
    margin: 1em auto;
    user-select: none;
}

#actual-text .tooltip {
    background: #333;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 180px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
}

#actual-text .tt-area-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 64px;
    align-items: flex-start;
    justify-content: flex-start;
}

#actual-text .tt-area-2 {
    position: absolute;
    display: flex;
    flex-direction: column; 
    right: 16px;
    top: 64px;
}

#actual-text .tooltip img {
    max-width: 100%;
    object-fit: contain;
}

#actual-text .tooltip.show {
    opacity: 1;
    pointer-events: all;
}

#actual-text p .hide {
    filter: blur(3px);
    text-decoration: none;
    color: black;
}

#flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: white;
    opacity: 0; 
    pointer-events: none; 
    z-index: 9999; 
}

.flash-active {
    animation: whiteFlash 2s ease-out forwards; 
}

#back-cover {
    background-image: linear-gradient(to bottom right, saddlebrown, cornflowerblue);
    color: white;
    box-sizing: border-box;
    z-index: 1;
}

#back-cover p {
    padding: 10px;
}

