body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-content {
    background-image: url("../images/paper_bkgd.jpg");   
    background-repeat: no-repeat;
    background-size: cover;

    perspective: 1500px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page {
    position: absolute;
    padding: 1em;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    transform-origin: center;
    transition: transform 0.8s ease;
}

.flipped {
  transform: rotateY(-180deg);
}

#front-cover {
    background-color: saddlebrown;
    color: white;
    z-index: 3;
}

#actual-text {
    background-image: url("../images/paper_bkgd.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

#back-cover {
    background-color: brown;
    color: white;
    z-index: 1;
}